venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.idea
tests/integration/testers/*/lib
*.egg-info/

# charmcraft bug: leaves the build folders behind after a pack.
**/parts/
**/prime/
**/stage/