name: Pull Requests

on:
  pull_request:
    branches:
      - main

jobs:
  pull-request:
    name: PR
    uses: canonical/observability/.github/workflows/charm-pull-request.yaml@v0
    secrets: inherit

  terraform-checks:
    name: Terraform
    uses: canonical/observability/.github/workflows/terraform-quality-checks.yaml@v0

  required_status_checks:
    name: Required Status Checks
    runs-on: ubuntu-latest
    needs:
      - pull-request
      - terraform-checks
    if: always() && !cancelled()
    timeout-minutes: 5
    steps:
      - run: |
          [ '${{ needs.pull-request.result }}' = 'skipped' ] || [ '${{ needs.pull-request.result }}' = 'success' ] || (echo pull-request failed && false)
           [ '${{ needs.terraform-checks.result }}' = 'skipped' ] || [ '${{ needs.terraform-checks.result }}' = 'success' ] || (echo terraform-checks failed && false)